@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont-adjust:before,
.iconfont-category2:before,
.iconfont-category3:before,
.iconfont-category4:before,
.iconfont-check:before,
.iconfont-close:before,
.iconfont-followers:before,
.iconfont-humberger:before,
.iconfont-notice:before,
.iconfont-search:before,
.iconfont-topnews:before {
  position: relative;
  top: -.1em;
  font-family: "iconfont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-adjust:before { content: "\E001" }
.iconfont-category2:before { content: "\E002" }
.iconfont-category3:before { content: "\E003" }
.iconfont-category4:before { content: "\E004" }
.iconfont-check:before { content: "\E005" }
.iconfont-close:before { content: "\E006" }
.iconfont-followers:before { content: "\E007" }
.iconfont-humberger:before { content: "\E008" }
.iconfont-notice:before { content: "\E009" }
.iconfont-search:before { content: "\E00A" }
.iconfont-topnews:before { content: "\E00B" }
