/**
 *  COMMENT
 */
/* drawer設定 */
.drawer-left {
	&.drawer-open {
//		.drawer-hamburger {
//			left: -80px; // iOS7でなぜか見えなくなるので、↓のiconを移動して対応
//		}
		.drawer-hamburger-icon {
			left: -80px;
		}
	}
}
.drawer-main {
	width: 200px;
}
.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
	background-color: $gray-light;
}

/* グロナビ */
.gnav {
	background-color: $gray-dark;
	font-size: $font-size-midium;
	border-right: 1px $gray-light solid;
	ul {
		@include list-unstyled;
	}
	li {
		&:nth-child(1) {
			i {
				margin: 0 16px 0 0;
			}
		}
		&:nth-child(2) {
			i {
				margin: 0 8px 0 0;
			}
		}
		&:nth-child(3) {
			i {
				margin: 0 10px 0 0;
			}
		}
		&:nth-child(4) {
			i {
				margin: 0 10px 0 0;
			}
		}
		&:nth-child(5) {
			i {
				margin: 0 10px 0 0;
			}
		}
		&:nth-child(6) {
			i {
				margin: 0 14px 0 0;
			}
		}
		&:nth-child(7) {
			i {
				margin: 0 14px 0 0;
			}
		}
	}
	a {
		display: block;
		padding: 20px;
		color: #fff;
		border-bottom: 1px $gray-light solid;
		&:hover,
		&:focus {
			background-color: $gray-darker;
			text-decoration: none;
		}
	}
}
/* ページタイトル */
.page-title {
	font-size: $font-size-large;
	text-align: center;
}

/* グリフアイコン */
 .glyphicon {
     top: -.1em;
     vertical-align: middle;
 }
 /* 汎用 */
 .mt0 {
 	margin-top: 0 !important;
 }
 .mt05 {
 	margin-top: 5px !important;
 }
 .mt10 {
 	margin-top: 10px !important;
 }
 .mt15 {
 	margin-top: 15px !important;
 }
 .mt20 {
 	margin-top: 20px !important;
 }
 .mt25 {
 	margin-top: 25px !important;
 }
 .mt30 {
 	margin-top: 30px !important;
 }
 .mb0 {
 	margin-bottom: 0 !important;
 }
 .mb05 {
 	margin-bottom: 5px !important;
 }
 .mb10 {
 	margin-bottom: 10px !important;
 }
 .mb15 {
 	margin-bottom: 15px !important;
 }
 .mb20 {
 	margin-bottom: 20px !important;
 }
 .mb25 {
 	margin-bottom: 25px !important;
 }
 .mb30 {
 	margin-bottom: 30px !important;
 }
 .mr0 {
     margin-right: 0 !important;
 }
 .mr05 {
     margin-right: 5px !important;
 }
 .mr10 {
     margin-right: 10px !important;
 }
 .mr15 {
     margin-right: 15px !important;
 }
 .mr20 {
     margin-right: 20px !important;
 }
 .mr25 {
     margin-right: 25px !important;
 }
 .mr30 {
     margin-right: 30px !important;
 }
 .ml0 {
     margin-left: 0 !important;
 }
 .ml05 {
     margin-left: 5px !important;
 }
 .ml10 {
     margin-left: 10px !important;
 }
 .ml15 {
     margin-left: 15px !important;
 }
 .ml20 {
     margin-left: 25px !important;
 }
 .ml25 {
     margin-left: 25px !important;
 }
 .ml30 {
     margin-left: 30px !important;
 }
 .img-widemax {
 	width: 100%;
 	height: auto;
 }

// google font
// @import url(http://fonts.googleapis.com/css?family=Bitter);

// Sprite image
// @improt "xxx"; // improt sprite scss
// Selector { // apply individually
//     @include sprite($xxx);
// }

// mediaquery
// @media ( max-width: $screen-sm-max ) { // 939px
// }
